$bg-color:#d1453b;
$text-color:#fff;
$card-color:#d1453bd8;
$colors:#d1453b,#eb8909,#246fe0,#24e063,#da18e0;
$border-color: #FF4040;
$checkbox-size: 1rem;
$checkedbox-size: 1.2rem;
$dark:   #15171E;
$white:  mix($dark, white, 20%);